# Test pre-releases on a larger scope (platforms & versions) to avoid bad surprises.

name: Large scope
on:
  push:
    branches:
      - staging

jobs:
  test-versions:
    name: Tests on Linux
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust: [1.74.0, beta, nightly]

    steps:
      - name: Rust install
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}
          components: rustfmt, clippy

      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache crates from crates.io
        uses: actions/cache@v4
        continue-on-error: false
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ matrix.rust }}-hash-${{ hashFiles('**/Cargo.lock') }}

      - name: Quality - cargo fmt
        run: |
          cargo fmt --all -- --check

      - name: Quality - cargo clippy
        run: |
          cargo clippy --all-targets --all-features -- -D warnings

      - name: Build (dev)
        run: cargo build --all-features

      - name: Build (release)
        run: cargo build --all-features --release

      - name: Test
        run: ./ci/test_full.sh

  test-other-platforms:
    name: Tests on
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: macos-13
            target: x86_64-apple-darwin
            type: unix
            toolchain: stable
          - os: ubuntu-24.04-arm
            target: aarch64-unknown-linux-gnu
            type: unix
            toolchain: stable
          - os: macos-latest
            target: aarch64-apple-darwin
            type: unix
            toolchain: stable
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            type: windows
            toolchain: stable
    steps:
      - name: Rust install
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.toolchain }}
          targets: ${{ matrix.target }}
          components: rustfmt, clippy

      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache crates from crates.io
        uses: actions/cache@v4
        continue-on-error: false
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-${{ matrix.target }}-cargo-stable-${{ hashFiles('**/Cargo.lock') }}

      - name: Build (dev)
        run: cargo build --all-features

      - name: Build (release)
        run: cargo build --all-features --release

      - name: Test
        run: ./ci/test_full.sh
